 	@charset "UTF-8";
/* CSS Document */


* { margin: 0; padding: 0; }

html {
    overflow-y:scroll;
    }

body {
	background-image: url('../images/background.png');
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	}

a {
    color: #488AC7;
    text-decoration: none;
    }

a:hover {
    text-decoration: underline;
    }
	
#header {
	margin-top: 15px;
    margin-bottom: 15px;
    max-height:35px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
	}

    #logo {
        width: 170px;
        margin-left: 10px;
    }

    #header span{
        position: relative;
        top:-12px;
    }

    #header .contact{
        margin-right: 10px;
        margin-left: 20px;
        width: 35px;
    }

    #picture {
        float: right;
        position: relative;
        border: 1px solid #A0A0A0;
        z-index: 1;
        width: 15%;
        margin: 30px;
        margin-right:20px;
        }


.nav {
     position: relative;
     height:33px;
     background-image: url('../images/nav-norm.png');
     border: 1px solid #A0A0A0;
     margin-left:-4%;
     width:128.5%;
    }
 
	.nav ul {
	     z-index:20;
         position:absolute;
         list-style-type: none;
	}
 
	.nav ul li {
	     float: left;
	}

    .nav ul li.selected{
        font-weight: bold;
    }
 
	.nav ul li a {
	     padding-top:8px;
         padding-bottom:10px;
	     padding-left:20px;
	     padding-right:20px;
         display:block;
	     text-decoration:none;
	     color:#222222;
         font-size:14px;
	}

	.nav ul li a:hover {
         z-index:10;
        }

    .nav #slide {
        position:absolute;
        height:33px;
        background-image: url('../images/nav-hover.png');
        background-repeat:repeat-x;
        border-left: 1px solid #A0A0A0;
        border-right: 1px solid #A0A0A0;
        z-index:10;
        }



#statement {
    text-align: left;
    background-image: url('../images/statement_back.png');
    background-repeat: repeat-x;
    border:1px solid #A0A0A0;
    width:92%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:70px;
    margin-bottom:35px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    }

    #statement h2 {
        font-size: 14px;
        padding-left: 10px;
        padding-bottom: 15px;
        }

    #statement p {
        padding: 30px;
        padding-top: 0px;
        line-height: 21px;
		text-align: left;
		padding-bottom: 20px;
        }



.project_row {
	position:relative;
    background-image: url('../images/project_back.png');
    background-repeat: repeat-x;
}
    .project_row .title {
        font-size: 16px;
        font-weight: bold;
        color:#333333;
        border-bottom: 1px solid #A0A0A0;
        background-image: url('../images/tab.png');
        background-repeat: no-repeat;
        height: 25px;
        width:100%;
        margin-top:20px;
        margin-bottom: 20px;
        }

        .project_row .title span {
            position: absolute;
            margin-top:  5px;
            margin-left: 70px;
             }

    .project_row p {
        line-height: 21px;
        text-align: left;
        padding-bottom: 10px;
        }

    .project_row .description {
        }

    .project_row li {
        line-height: 21px;
		letter-spacing: 0px;
		text-align: left;
        margin-left: 20px;
		}

    .project_row .grid_3 img.thumb {
        width: 220px;
        border: 1px solid #A0A0A0;
        }

    .project_row .grid_4 img.thumb {
        width: 300px;
        border: 1px solid #A0A0A0;
        }

    .project_row .more_info, .show .less {
        display: none;
        }

    .project_row .show{
        margin-top: 20px;
        }

    .project_row a{
        cursor:pointer;
    }

    .project_row div.fancyDemo{
        display: inline;
    }

.spacer {
    margin-left:1%;
    padding-bottom:20px;
    border-top:1px solid #A0A0A0;
    background-repeat:repeat-x;
    width:97%;
    }
	
#resume {

}



.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }

#footer {
	margin-bottom: 20px;
	padding-top: 10px;
    text-align: center;
	}
	
	#footer li {
		display: inline;
        padding-left: 10px;
        padding-right: 10px;
    }

    #footer a {
        font-size: 12px;
    }