 	@charset "UTF-8";
/* CSS Document */


* { margin: 0; padding: 0; }

body {
/*	background-color:#EEEEEE;*/
	background-image: url('../images/background.png');
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	}
	
#header {
	margin: 15px;
    margin-left: 20px;
    max-height:37px;
	}
	
#picture {
	float: right;
	position: relative;
	margin-top:-120px;
	top: 127px;
	right: 1%;
/*	padding: 10px;*/
	border: 1px solid #A0A0A0;
	z-index: 1;
	width: 14%;
	min-width: 90px;
	}
	
#logo {
	float:left;
	position:relative;
}

.nav {
     position: relative;
     height:37px;
     background-image: url('../images/nav-norm.png');
     border: 1px solid #A0A0A0;
     margin-left:-4%;
     width:128.5%;
    }
 
	.nav ul {
	     z-index:20;
         position:absolute;
         list-style-type: none;
	}
 
	.nav ul li {
	     float: left;
	}

    .nav ul li.selected{
        font-weight: bold;
    }
 
	.nav ul li a {
	     padding-top:10px;
         padding-bottom:10px;
	     padding-left:20px;
	     padding-right:20px;
         display:block;
	     text-decoration:none;
	     color:#222222;
	}

	.nav ul li a:hover {
			 z-index:10;
			}
				

    #slide {
        position:absolute;
        height:37px;
        background-image: url('../images/nav-hover.png');
        background-repeat:repeat-x;
        /*background-color:#B0B0B0;*/
        border-left: 1px solid #A0A0A0;
        border-right: 1px solid #A0A0A0;
        z-index:10;
        }
			
									
#content {
	text-align: left;
	margin-top:75px;
	/*border:1px solid black;*/
	}
	
	#content label {
		color: black;
		font-weight:bold
	}
		
	#content h2 {
		font-size: 18px;
		line-height: 18px;
		font-style: normal;
		margin-bottom: 10px;
		}
		
	#content h3 {
		font-size: 22px;
		font-style: normal;
        color:#333333;
		padding: 8px;
		}

	#content p {
		font-size: 14px;
        line-height: 21px;
		text-align: left;
		padding-bottom: 10px;
		}
		
	#content li {
		font-size: 14px;
        line-height: 21px;
		letter-spacing: 0px;
		text-align: left;
        margin-left: 20px;
		}

	/*#content ul li {*/
		/*list-style: none;*/
		/*list-style-image: url(images/bullet.png);*/
		/*}*/
		
	#content a {
		color: #488AC7;
		text-decoration: none;
		}
		
	#content a:hover {
        text-decoration: underline;
		}

.spacer {
	/*margin-top:20px;*/
	margin-left:1%;
	padding-bottom:20px;
	border-top:1px solid #A0A0A0;
	background-repeat:repeat-x;
	width:97%;
}

.project_row {
	position:relative;
}
    .project_row .button {
        float:left;
    }

    .project_row .arrow {
        float:right;
        left:-10px;
    }

    .project_row .arrow img {
        width: 40px;
        cursor: pointer;
    }

    .project_row .grid_3 img.thumb {
        width: 220px;
        border: 1px solid #A0A0A0;
    }

    .project_row .grid_4 img.thumb {
        width: 300px;
        border: 1px solid #A0A0A0;
    }

    .project_row .description {
        margin-top:40px;
    }

    .project_row .more_info, .tab .less {
         display: none;
     }

    .project_row .tab{
        height:22px;
        cursor:pointer;
    }

    .project_row .tab img{
        width: 175px;
    }
	
/*#resume {
	position:relative;
	margin-top:40px;
	width:75px;
}*/



.center{
    display:block;
    text-align: -webkit-center;
    }

#footer {
	margin-bottom: 20px;
	padding-top: 10px;
	}
	
	#footer li {
		display: inline;
        padding-left: 10px;
        padding-right: 10px;
    }

    #footer a {
        text-decoration: none;
        font-size: 12px;
        color: #488AC7;
    }

    #footer a:hover{
        text-decoration: underline;
    }